<div class="container-fluid">
  <div class="card" style=" max-block-size: 100%; max-height: max-content;">
    <div class="row ">
      <div class="col-md-6">
        <div class="card-body">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <p class="card-title">Hosting</p>
          <p class="card-title">makes Airbnb,</p>
          <p class="card-title">Airbnb</p>
          <br>
          <br>
          <p>
            <button type="button" class="btn btn-lg bigCardBtn">Try hosting</button>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/hosthome.jpeg" class="img-fluid cardImg" alt="...">
      </div>

    </div>
  </div>
</div>
<br> <br> <br> <br>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card text-white queCard">
        <img src="assets/hostquestion.webp" class="card-img queCard" alt="...">
        <div class="card-img-overlay">
          <br> <br> <br> <br>
          <p class="card-text queText">Questions about hosting?</p>
          <p class="card-text queText">Ask a Superhost.</p>
          <br> <br>
          <div>
          <button type="button" class="btn btn-lg queBtn">Learn more</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>