<nav class="navbar navbar-expand navbar-dark bg-black">
    <div class="container">
        <ul class="navbar-nav">
            <!-- Search Button -->
            <li class="nav-item">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="container-fluid " style="margin-inline: 100px;">
                            <form class="d-flex">
                                <input class="form-control me-2 searchbar" type="search" placeholder="Start your search"
                                    aria-label="Search">
                                    <button type="button" class="btn btn-danger searchbutton">
                                        <svg class="bi" width="20" height="17" fill="white">
                                            <use xlink:href="assets\bootstrap-icons.svg#search" />
                                        </svg>
                                    </button>
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>