<nav class="navbar navbar-margin navbar-expand">
  <div class="container-fluid py-6 footer"> 
    <footer class="py-5">
      <div class="row row-cols-4">
        <div class="col">
          <h5 style= "font-size: 17px; color: black;">Support</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Help Center</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Safety information</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Cancellation options</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Our COVID-19 Response</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Supporting people with
                disabilities</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Report a neighborhood concern</a></li>
          </ul>
        </div>

        <div class="col">
          <h5 style= "font-size: 17px; color: black;">Community</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Airbnb.org: disaster relief
                housing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Support Afghan refugees</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Celebrating diversity & belonging</a>
            </li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Combating discrimination</a></li>
          </ul>
        </div>

        <div class="col">
          <h5 style= "font-size: 17px; color: black;">Hosting</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Try hosting</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">AirCover: protection for Hosts</a>
            </li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Explore hosting resources</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Visit out community forum</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">How to host responsibly</a></li>
          </ul>
        </div>

        <div class="col">
          <h5 style= "font-size: 17px; color: black;">About</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 resources-text">Newsroom</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Learn about new features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Letter from our founders</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Careers</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Investors</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 resources-text">Airbnb Luxe</a></li>
          </ul>
        </div>
      </div>

      <!-- Social Media Footer -->
      <div class="d-flex justify-content-between py-4 my-4 border-top ">
        <ul class="list-unstyled d-flex resources-text">
          &copy; 2022 Airbnb, Inc.
          &nbsp;
            ·
          <li class="ms-3"><a href="#" class="nav-link p-0 resources-text">Privacy</a></li>
          &nbsp;
            ·
          <li class="ms-3"><a href="#" class="nav-link p-0 resources-text">Terms</a></li>
          &nbsp;
            ·
          <li class="ms-3"><a href="#" class="nav-link p-0 resources-text">Sitemap</a></li>
        </ul>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#">
              <svg class="bi" width="24" height="24">
                <use xlink:href="assets\bootstrap-icons.svg#facebook" />
              </svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#">
              <svg class="bi" width="24" height="24">
                <use xlink:href="assets\bootstrap-icons.svg#twitter" />
              </svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#">
              <svg class="bi" width="24" height="24">
                <use xlink:href="assets\bootstrap-icons.svg#instagram" />
              </svg></a></li>
        </ul>
      </div>
    </footer>
  </div>
</nav>