<p class="textformat">
        Inspiration for your next trip
</p>
<div class="container-fluid d-flex">
    <next-trip-card bg_color=#d93b30 img="assets/trips1.jpg" place="Sevierville" [miles]=325>Loading...</next-trip-card>
    <next-trip-card bg_color=#cc2d4a img="assets/trips2.jpg" place="Davis" [miles]=40>Loading...</next-trip-card>
    <next-trip-card bg_color= #bc1a6e img="assets/trips3.jpg" place="Ocean City" [miles]=286>Loading...</next-trip-card>
    <next-trip-card bg_color=#de3151 img="assets/trips4.jpg" place="Myrtle Beach" [miles]=411 >Loading...</next-trip-card>

</div>