<div class="container">
    <div class="card card-format">
        <div class="card-img">
            <img src="/assets/giftcard_image.png" class="card-img card" alt="...">
        </div>
        <div class="container card-img-overlay text-format">
            <br> <br> <br> <br> <br>
            <p class="text1">Introducing</p>
            <p class="text2">Airbnb</p>
            <p class="text2">gift cards</p>
            <button type="button" class="btn btn-dark">Shop now</button>
        </div>
    </div>
</div>