<div class="container-fluid">
    <p class="textformat">
        Inspiration for your next trip
    </p>

    <div class="row row-cols-4">
        <div class="col">
            <div class="card h-100">
                <a class="link" href="#">
                    <img src="\assets\trips1.jpg" class="card-img-top" alt="...">
                    <div class="card-body trip1">
                        <h5 class="card-title">Sevierville</h5>
                        <p class="card-text">325 miles away</p>
                        &nbsp;
                        &nbsp;
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a class="link" href="#">
                    <img src="\assets\trips2.jpg" class="card-img-top" alt="...">
                    <div class="card-body trip2">
                        <h5 class="card-title">Davis</h5>
                        <p class="card-text">40 miles away</p>
                        &nbsp;
                        &nbsp;
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a class="link" href="#">
                    <img src="\assets\trips3.jpg" class="card-img-top" alt="...">
                    <div class="card-body trip3">
                        <h5 class="card-title">Ocean City</h5>
                        <p class="card-text">286 miles away</p>
                        &nbsp;
                        &nbsp;
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a class="link" href="#">
                    <img src="\assets\trips4.jpg" class="card-img-top" alt="...">
                    <div class="card-body trip4">
                        <h5 class="card-title">Myrtle Beach</h5>
                        <p class="card-text">411 miles</p>
                        &nbsp;
                        &nbsp;
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>