<div class="container-fluid">
    <!-- <p class="textformat">
        Inspiration for your next trip
    </p> -->

    <div class="">
        <div class="">
            <div class="card h-100">
                <a class="link" href="#">
                    <img src={{img}} class="card-img-top" alt="...">
                    <div class="card-body trip1"[style.background-color]="bg_color">
                        <h5 class="card-title">{{place}}</h5>
                        <p class="card-text">{{miles}} miles away</p>
                        &nbsp;
                        &nbsp;
                    </div>
                </a>
            </div>
        </div>

        <!-- <div class="col">
            <div class="card h-100">
                <a class="link" href="#">
                    <img src={{img}} class="card-img-top" alt="...">
                    <div class="card-body trip2">
                        <h5 class="card-title">{{place}}</h5>
                        <p class="card-text">{{miles}} miles away</p>
                        &nbsp;
                        &nbsp;
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a class="link" href="#">
                    <img src={{img}} class="card-img-top" alt="...">
                    <div class="card-body trip3">
                        <h5 class="card-title">{{place}}</h5>
                        <p class="card-text">{{miles}} miles away</p>
                        &nbsp;
                        &nbsp;
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a class="link" href="#">
                    <img src={{img}} class="card-img-top" alt="...">
                    <div class="card-body trip4">
                        <h5 class="card-title">{{place}}</h5>
                        <p class="card-text">{{miles}} miles away</p>
                        &nbsp;
                        &nbsp;
                    </div>
                </a>
            </div>
        </div> -->
    </div>
</div>